<!--
src/app/components/authentication-button/
  authentication-button.component.html
-->

<div *ngIf="auth.user$ | async as user">{{ user.nickname }}
</div>

<app-login-button *ngIf="(auth.isAuthenticated$ | async) === false">
</app-login-button>

<app-logout-button *ngIf="auth.isAuthenticated$ | async">
</app-logout-button>