<!--src/app/pages/profile/profile.component.html-->
<div class="container" *ngIf="(auth.isAuthenticated$ | async) === false">
    <p>Utente non autenticato</p>
</div>

<div *ngIf="auth.user$ | async as user">
    <div class="row align-items-center profile-header">
      <div class="col-md-2 mb-3">
        <img
          [src]="user.picture"
          alt="User's profile picture"
          class="rounded-circle img-fluid profile-picture"
        />
      </div>
      <div class="col-md text-center text-md-left">
        <h2>{{ user.name }}</h2>
        <p class="lead text-muted">{{ user.email }}</p>
      </div>
    </div>
    <div class="row"><h2>Lista prodotti</h2></div>
    <div class="row"><a href="#">Product 1</a></div>
    <div class="row"><a href="#">Product 2</a></div>
    <div class="row"><a href="#">Product 3</a></div>
    <div class="row"><a href="#">Product 4</a></div>
    <div class="row"><a href="#">Product 5</a></div>
  <!--
    <div class="row" *ngIf="profileJson">
      <pre class="col-12 text-light bg-dark p-4">{{ profileJson }}</pre>
    </div>
    -->
  </div>

