<div class="navbar-nav mr-auto">
  <div class="nav-item">
    <a
      routerLink="/"
      class="nav-link"
      routerLinkActive="router-link-exact-active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Home
    </a>
  </div>
  <div class="nav-item">
    <a
      routerLink="/marketplace"
      class="nav-link"
      routerLinkActive="router-link-exact-active"
    >
      Marketplace
    </a>
  </div>
  <div class="nav-item">
    <a
      routerLink="/external-api"
      class="nav-link"
      routerLinkActive="router-link-exact-active"
    >
      External API
    </a>
  </div>
</div>
